@use 'base/variables' as *;
@use 'base/mixins' as *;
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  html, body { 
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $blanco;
}



body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background: #000; /* fallback negro */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: -1;
  background: linear-gradient(135deg, #ff00ff, #9b59b6, #3498db, #00ffff);
  background-size: cover;
 
}

main {
  flex: 1;
  overflow: visible; 
}



.background-layer {
 content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #ff00ff, #9b59b6, #3498db, #00ffff);
  background-size: cover;
  
}

.background-layerr {
  background-color: #000;

}







  p {
    font-size: 1.8rem;
    font-family:$fuenteprincipal;
    color: $blanco;
  }
  
 

  img {
   max-width: 100%;

  }

 

  h1,h2,h3 {
    text-align: center;
   
  }

  h1 {
    font-size: 4rem;
    font-family:$fuenteprincipal;
    color: $blanco;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  /** fin de Globales **/